/* This is comment */
body {
  background: -webkit-linear-gradient(bottom right, #3a67c2, #60e986);
  background: -moz-linear-gradient(bottom right, #3a67c2, #60e986);
  background: linear-gradient(to top left, #3a67c2, #60e986);
}

img.ranger {
  float: right;
}

p.lorem {
  color: white;
  width: 300px;
  height: 150px;
  background: red;
  overflow-y: auto;
}

/* The following is to show how verbose CSS can be. This can be addressed using SCSS */
/* ----------------------------------------------- */
div.special li {
  list-style: lower-latin;
  padding-left: 50px;
}

div.special li p.orange {
  color: blue;
}

div.special li:last-child {
  padding-left: 100px;
}
/* ----------------------------------------------- */

/* The following is to style a menu bar */
/* ----------------------------------------------- */
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.menu li {
  float: left;
  border-right: 1px solid #bbb;
}

ul.menu li:last-child {
  border-right: none;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

ul.menu li a:hover:not(.active) {
  background-color: #111;
}

ul.menu .active {
  background-color: red;
}
/* ----------------------------------------------- */
